@page "/"

<MudText Typo="Typo.h5">Console</MudText>

<div class="console mt-5">
    <div>
        <MudList Dense Clickable="true">
             @foreach ((string consoleLineContent, LogEntryType lineType) in consoleContent)
            {
                @if (lineType == LogEntryType.JoinUUID)
                {
                    <MudListItem Icon="@Icons.Material.Filled.PlusOne" IconColor="Color.Success" Text="@consoleLineContent" />
                }
                else if (lineType == LogEntryType.ConnectionLost)
                {
                    <MudListItem Icon="@Icons.Material.Filled.Backspace" IconColor="Color.Error" Text="@consoleLineContent" />
                }
                else if (lineType == LogEntryType.Chat)
                {
                    <MudListItem Icon="@Icons.Material.Filled.ChatBubble" IconColor="Color.Info" Text="@consoleLineContent" />
                }
                else
                {
                    <MudListItem>
                        <span style="color: #000;">@((MarkupString)consoleLineContent)</span>
                    </MudListItem>
                }
            }
        </MudList>
    </div>
</div>

<div class="mt-3">
    <MudTextField Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Computer" @bind-Value="commandInput" />

    <MudButtonGroup Class="mt-5" OverrideStyles=false>
        <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="(() => SendCommand())">Execute</MudButton>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick=@(() => SendCommand("stop"))>Stop</MudButton>
        <MudButton Color="Color.Info" Variant="Variant.Filled" OnClick=@(() => SendCommand("reload"))>Reload</MudButton>

        <MudMenu AnchorOrigin="Origin.TopCenter" Color="Color.Warning" Variant="Variant.Filled" Label="Change daytime">
            <MudMenuItem IconColor="Color.Warning" Icon="@Icons.Material.Filled.WbSunny" OnClick=@(() => SendCommand("time set day"))>Day</MudMenuItem>
            <MudMenuItem IconColor="Color.Info" Icon="@Icons.Material.Filled.ViewDay" OnClick=@(() => SendCommand("time set noon"))>Noon</MudMenuItem>
            <MudMenuItem IconColor="Color.Primary" Icon="@Icons.Material.Filled.ModeNight" OnClick=@(() => SendCommand("time set night"))>Night</MudMenuItem>
            <MudMenuItem IconColor="Color.Dark" Icon="@Icons.Material.Filled.Bed" OnClick=@(() => SendCommand("time set midnight"))>Midnight</MudMenuItem>
        </MudMenu>
    </MudButtonGroup>
</div>